//  Dark Mode
$darkBlue : hsl(209, 23%, 22%); // (Dark Mode Elements)
$veryDarkBlue : hsl(207, 26%, 17%); //(Dark Mode Background)



// Light mode
$veryDarkBlueText : hsl(200, 15%, 8%); //(Light Mode Text)
$lightModeInput : hsl(0, 0%, 52%); //  (Light Mode Input)
$veryLightGrey : hsl(0, 0%, 98%); // (Light Mode Background)
$white : hsl(0, 0%, 100%); //(Dark Mode Text & Light Mode Elements)



.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(270deg);
  }
}



// loader
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
      stroke: #4285F4;
  }
  // 25% {
  //     stroke: #DE3E35;
  // }
  // 50% {
  //     stroke: #F7C223;
  // }
  // 75% {
  //     stroke: #1B9A59;
  // }
  100% {
      stroke: #4285F4;
  }
}
@keyframes dash {
  0% {
      stroke-dashoffset: 187;
  }
  50% {
      stroke-dashoffset: 46.75;
      transform: rotate(135deg);
  }
  100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
  }
}



body{
  font-family: 'Nunito Sans', sans-serif;

}
.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}



.outside-container { // on the out side
  padding-left: 24px;
  padding-right: 24px;
}
.inner-container {
  max-width: 1400px;
  margin: 0 auto;
}



.header{
  background-color: $white;
  color: $veryDarkBlue;
  transition: .2s ease-in-out all;
  .inner-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .logo{
      font-size: 1.5rem;

    }
    .darkmode-button{
      cursor: pointer;
    }

  }
  
}

.header.dark{
  background-color: $darkBlue;
  color: $white;
  .inner-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .logo{
      font-size: 1.5rem;

    }
    .darkmode-button{
      cursor: pointer;
    }

  }
  
}


.home{
  min-height: calc(100vh - 4.5rem);
  background-color: $veryLightGrey;
  transition: .2s ease-in-out all;
  color:$veryDarkBlue;
  padding-top: 1rem;
  padding-bottom: 1rem;


  .inner-container{
    .list{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 4rem;

      .country-card{
        display: flex;
        flex-direction: column;
        border-radius: .2rem;
        overflow: hidden;
        transition: .2s ease-in-out all;
        cursor: pointer;
        .flag-image{
          width: 100%;
          aspect-ratio: 16 / 9;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .description{
          transition: .2s ease-in-out all;
          padding: 2rem 1rem 2rem 1rem; 
          background-color: $white;
          .title{
            font-size: 1.1rem;
            height : 4rem;
            transition: .2s ease-in-out all;
          }
          .description-item{
            margin-bottom: 1rem;
            transition: .2s ease-in-out all;
 
          }

        }
      }
    }
  }

}
.home.dark{
  background-color: $veryDarkBlue;
  color: $white;

  .inner-container{
    .list{
      .country-card{


        .description{
          background-color: $darkBlue;
        }
      }


    }}



}







// bootstrap break points

@media (min-width: 576px) {  .home{
  .inner-container{
    .list{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}


}
@media (min-width: 768px) {
  .home{
    .inner-container{
      .list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

}
@media (min-width: 992px) {
  .home{
  .inner-container{
    .list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}


}
@media (min-width: 1200px) {


}
@media (min-width: 1400px) {


}
